<header class="header">
    <div class="logo">
        📈 Trading Screen
    </div>

    <div>
        <input class="search" type="text" placeholder="Search stocks...">
    </div>

    <div class="profile">
        Hari's Trading App
    </div>
</header>

<div class="container">

  <aside class="sidebar">

    <ul>

      <li class="active">Dashboard</li>

      <li>Watchlist</li>

      <li>Market Watch</li>

      <li>Option Chain</li>

      <li>Orders</li>

      <li>Positions</li>

      <li>Portfolio</li>

      <li>Settings</li>

    </ul>

  </aside>


  <main class="content">

     <h2> Dashboard Content</h2>

     <br><br >  
    <p>Good Morning, Hari 👋</p>

  </main>

</div>